@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:wght@400;700&display=swap');

body {
  /* background-color: #191919; */
  background-color: white;
  color: white;
  margin: 0;
}

#root {
  padding: 1em 0;
  box-sizing: border-box;
  height: 100vh;
}

.Ladder {
  background-color: #191919;
  color: grey;

  position: relative;
  height: 100%;
  top: 100px;
  max-width: 25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid #929292;
}

.Ladder__header {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #191919;
  border-bottom: 1px solid #929292;
}

.Ladder__header2 {
  display: flex;
}

.Ladder__header2 > * {
  flex-basis: 50%;
  border-top: 1px solid #929292;
}

.Ladder__header2 > *:nth-child(1) {
  border-right: 1px solid #929292;
}

.Ladder__S {
  flex-basis: auto;
  height: 2em;
  display: flex;
  align-items: center;
  border: 1px solid #929292;
}

.Ladder__SP,
.Ladder__SL {
  flex-basis: 50%;
}

.Ladder__SL {
  font-family: 'PT Sans', sans-serif;
  text-align: right;
}

.Ladder__SP {
  font-family: 'PT Mono', monospace;
  text-align: center;
}

.LadderView {
  font-family: 'PT Mono', monospace;
  text-align: center;
  display: flex;
  overflow-y: hidden;
}

.LadderView--sell {
  color: green;
  flex-direction: column;
}

.LadderView--ask {
  color: red;
  flex-direction: column-reverse;
}

.LadderView__order {
  padding: 4px;
  display: flex;
  font-size: 80%;
}

.LadderView__order:nth-child(2n) {
  background-color: #111111;
}

.LadderView__order > * {
  flex-basis: 50%;
}

.LadderView__size {
  display: flex;
  justify-content: center;
  position: relative;
}

.LadderView__bar {
  height: 100%;
  position: absolute;
  left: 0;
}

.LadderView--sell .LadderView__bar {
  background-color: green;
}

.LadderView--ask .LadderView__bar {
  background-color: red;
}
.chris {
  position: relative;
  left: 20px;
}
.agg_div {
  position: relative;
  color: grey;
  border: 1px solid grey;
  padding: 3px;
  font-size: 12px;
  height: 40px;
  padding-top: 7px;
}
.agg_text {
  margin-left: 65px;
}
.agg_nb {
  margin-left: 130px;
}
.change-agg {
  position: relative;
  left: 40px;
  border: 1px solid grey;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
}
